body {
    background-color: white;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

h3 {
    font-family: 'Work Sans', sans-serif;
}

p {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: large;
}

.cabecalho {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

#logo-poalab {
    max-width: 20%;
    margin: 1%;
    margin-right: 10px;
}

.timeline {
    font-family: 'Work Sans', sans-serif;
}

button#entrar-button {
    color: white;
    font-weight: bold;
    background-color: #108acc;
}

.conteudo {
    background-color: white;
}

.show-image img {
    max-width: 100%;
    height: auto;
}

h2#fabricacao-title {
    color: #108acc;
    padding: 2%;
}

.descricao-fabricacao {
    color: #737373;
    margin: 5%;
}

.cadastro-projeto {
    color: white;
    font-weight: bold;
    background-color: #108acc;
    text-align: center;
    padding: 2%;
}

h2#aberto-title {
    color: #108acc;
    padding: 2%;
}

.descricao-aberto {
    color: #737373;
    margin: 5%;
}

h2#proposito-title {
    color: #108acc;
    padding: 2%;
}

.descricao-proposito {
    color: #737373;
    margin: 5%;
}

h2#nossos-projetos-title {
    color: white;
    background-color: #108acc;
    text-align: center;
    padding: 2%;
}

#projetos {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin-left: 5%;
    background-color: white;
}

.box-image {
    margin: 10px;
    width: fit-content;
}

.title-project {
    margin-bottom: 10px;
}

.box-image img {
    width: 100%;
}

.title-project {
    margin-bottom: 10px;
}

.box-image img {
    width: 100%;
}

.title-project {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    background-color: #108acc;

}

#rodape {
    color: black;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    position: relative;
    padding: 1.2%;
}

#logo-ifrs {
    max-width: 7%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*formatação da pirâmide */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
}

.block {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    /* Cor de fundo do bloco */
    margin: 5px;
    /* Espaçamento entre os blocos */
    transition: background-color 0.3s ease;
    /* Efeito de transição ao passar o mouse */
    cursor: pointer;
}

.block:hover {
    background-color: #108acc;
    /* Cor de fundo do bloco ao passar o mouse */
}

/*fim formatação pirâmide */

/* formatação timeline */

.timeline {
    list-style-type: none;
    padding: 0;
}

.timeline-item {
    position: relative;
    padding: 20px 0;
}

.timeline-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #000;
}

.timeline-content {
    margin-left: 30px;
}

.timeline-date {
    font-weight: bold;
}

.timeline-desc {
    margin-top: 10px;
}
/* fim formatação timeline */